<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stwórz nowy test</title>
    <link rel="stylesheet"
          type="text/css"
          href="test-details-style.css"/>
    <script src="test-details-script.js"></script>
</head>
<body>
<div class="testName">
    <label>Nazwa testu:</label>
    <label>Test na programistę Java</label>
</div>
<hr>
</table>

<hgroup id="group">
    <div class="boxed">
        <table style="width:100%; height:100%;">
            Co to jest 'klasa abstrakcyjna'?
            <button class="boxed-edit-button" type="button">Edytuj</button>
            <button class="boxed-delete-button" type="button">Usuń</button>
        </table>
    </div>
</hgroup>

<button class="addNewQuestionButton" type="button" onclick="addNewQuestion()">Dodaj nowe pytanie</button>
<button class="saveQuestionButton" type="button">Zapisz test</button>

</body>
</html>