<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stwórz nowy test</title>
    <link rel="stylesheet"
          type="text/css"
          href="test-details.css"/>
    <script src="test-details.js"></script>
</head>
<body>

<form>
    <div class="container">
        <h1>Nazwa testu:</h1>
        <label>
            <input type="text"/>
        </label>
        <hr id="question_hr">
        <nobr>
            <label class="questionLabel">
                Treść pytania otwartego:
            </label>
            <button id="d0" type="button" class="deleteQuestionButton" onclick="deleteQuestion(this)">Usuń</button>
        </nobr>
        <input type="text">
<!--        <input type="text">-->
<!--        <label class="question_label">-->
<!--            Warianty odpowiedzi:-->
<!--        </label>-->

<!--        <input type="text">-->
<!--        <input type="text">-->
<!--        <input type="text">-->
<!--        <input type="text">-->
        </hr>

        <button type="button" class="add_question_button" onclick="addNewClosedQuestion()">Dodaj pytanie zamknięte</button>
        <button type="button" class="add_question_button" onclick="addNewOpenQuestion()">Dodaj pytanie otwarte</button>
        <button type="button" class="add_test_button">Dodaj test</button>
    </div>
</form>
</body>
</html>