<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="css/add-candidate.css">
    <title>Add new candidate</title>

    <script src="js/vendor/jquery-3.1.0.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/poolConfig.js"></script>
    <script src="js/cognito-auth.js"></script>
    <script src="js/vendor/aws-sdk-cognito-service-provider.js"></script>
</head>
<body>

    <section class="container">
        <form id="registrationForm">
        <h1>Dodaj kandydata</h1>
        <hr>
        <label for="userEmail"><b>Email kandydata</b></label>
        <input type="email" pattern=".*" placeholder="Wprowadź adres Email" name="email" id="userEmail" required>

        <label for="userFullName"><b>Imię i nazwisko kandydata</b></label>
        <input type="text" pattern=".*" placeholder="Wprowadź imię i nazwisko" name="fullName" id="userFullName" required>

        <label for="pass"><b>Hasło</b></label>
        <input type="password" pattern=".*" placeholder="Wprowadź hasło" name="psw" id="pass" minlength="8" required>

        <label for="passRepeat"><b>Ponownie hasło</b></label>
        <input type="password" pattern=".*" placeholder="Wprowadź ponownie hasło" name="psw-repeat" id="passRepeat" minlength="8" required>
        <hr>

        <input type="submit" class="addbutton" value="Dodaj użytkownia">
        </form>
    </section>

</body>
</html>
