<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1", charset="utf-8">
    <link rel="stylesheet" href="add-candidate.css">
</head>
<body>

<form action="/add.js">
    <div class="container">
        <h1>Dodaj kandydata</h1>
        <hr>

        <label for="name"><b>Imię</b></label>
        <input type="text" placeholder="Wprowadź imię" name="name" required>

        <label for="surname"><b>Nazwisko</b></label>
        <input type="text" placeholder="Wprowadź nazwisko" name="surname" required>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Wprowadź adres Email" name="email" required>

        <label for="psw"><b>Hasło</b></label>
        <input type="password" placeholder="Wprowadź hasło" name="psw" required>

        <label for="psw-repeat"><b>Ponownie hasło</b></label>
        <input type="password" placeholder="Wprowadź ponownie hasło" name="psw-repeat" required>
        <hr>

        <button type="submit" class="registerbtn">Dodaj</button>
    </div>

</form>

</body>
</html>
