<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/candidateTests.css">
    <script src="js/candidateTests.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/lambda-utils.js"></script>
    <script src="js/vendor/aws-sdk-cognito-service-provider.js"></script>
    <script src="js/cognito-utils.js"></script>

</head>
<body onload="loadTests()">
<div>
    <button class="naviButton" onclick="loadEditPage()">Edytuj konto</button>
    <button class="naviButton" onclick="logOut()">Wyloguj</button>
</div>


<div id="header"><!-- otworzenie diva header -->
    <h1>Lista twoich testów</h1>

</div><!-- zamkniecie diva header -->

<ul id="candidateTestList">


</ul>

</body>
</html>