<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/candidateTests.css">

</head>
<body>
<button class="naviButton" onclick="loadEditPage()">Edytuj konto</button>
<button class="naviButton" onclick="logOut()">Wyloguj</button>

<div id="header"><!-- otworzenie diva header -->
    <h1>Lista twoich testów</h1>

</div><!-- zamkniecie diva header -->

<ul>

    <li>Test wiedzy o Javie<span class="close"  onclick="change_page()">Rozwiąż test</span></li>
    <li>Test ze znajomości komend Linuxa<span class="close" onclick="change_page()">Rozwiąż test</span></li>
    <li>Test ze znajomości Reacta<span class="close" onclick="change_page()">Rozwiąż test</span></li>
    <li>Test ze znajomości C++<span class="close"   onclick="change_page()">Rozwiąż test</span></li>
    <li>Test ze znajomości C#<span class="close" onclick="change_page()">Rozwiąż test</span></li>
    <li>Test ze znajomosci JS<span class="close" onclick="change_page()">Rozwiąż test</span></li>

</ul>
<script src="js/candidateTests.js"></script>
</body>
</html>