<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stwórz nowy test</title>
    <link href="css/test-details.css"
          rel="stylesheet"
          type="text/css"/>
    <script src="js/edit-test.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>

</head>
<body>

<form>
    <div class="container">
        <h1>Nazwa testu:</h1>
        <label>
            <input id="testNameInput" type="text"/>
        </label>

        <label>Język:
            <select class="select-language">
                <option value="PL">PL</option>
                <option value="EN">EN</option>
            </select>
        </label>

        <button class="translate-manually" onclick="handleTranslateManuallyButton()" type="button">Przetłumacz ręcznie
        </button>
        <button class="translate-automatically" onclick="handleAutoTranslateButton()" type="button">Przetłumacz
            automatycznie
        </button>

        <hr id="question_hr">
        </hr>

        <button class="add-question-button" onclick="addNewClosedQuestion()" type="button">Dodaj pytanie zamknięte
        </button>
        <button class="add-question-button" onclick="addNewOpenQuestion()" type="button">Dodaj pytanie otwarte</button>
        <button class="add-question-button" onclick="addNewNumericQuestion()" type="button">Dodaj pytanie liczbowe
        </button>
        <button class="add-question-button" onclick="handleSaveTestButton()" type="button">Zapisz zmiany</button>
        <button class="add-question-button" onclick="handleDeleteTestButton()" type="button">Usuń test</button>
    </div>
</form>
</body>
</html>