<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>َAnimated Login Form</title>
    <link rel="stylesheet" href="css/style.css">

  </head>
  <body>

<form class="box" action="index.html" method="post">
  <h1>Logowanie</h1>
  <input type="text" name="" placeholder="Nazwa">
  <input type="password" name="" placeholder="Hasło">
  <input type="submit" name="" onclick="change_page()" value="Zaloguj" >

</form>
<script src="js/login.js"></script>
  </body>
</html>