<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">

    <!-- Javascript SDKs-->
    <script src="js/vendor/jquery-3.1.0.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/poolConfig.js"></script>
    <script src="js/cognito-auth.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <script src="js/index.js"></script>
</head>
<body>



<form class="box" action="index.html" >
    <h1>Logowanie</h1>
    <input type="text" id="inputUsername"  placeholder="Adres Email" name="username" required autofocus>
    <input type="password" id="inputPassword"  placeholder="Hasło" name="password" required>
    <button type="button" onclick="signInButton()">Zaloguj</button>

</form>

</body>
</html>

