<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/MainView.css">
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/MainView.js"></script>
    <script src="edit-test.js"></script>

</head>
<body onload="onPageLoad()">
<div class="grid-container">

    <div class="naviBar">
        <button class="listButton" onclick="showTests()">Test</button>
        <button class="listButton" onclick="showUsers()">Kandydat</button>
        <button class="userButton">User</button>
    </div>

    <div class="itemList">
        <div id="UserContentId">
            <ul id="UserListId">
                <li><a href="example.com">User1</a></li>
                <li><a href="example.com">User2</a></li>
                <li><a href="example.com">User3</a></li>
            </ul>
            <button id="addUserButton">add user</button>
        </div>

        <div id="TestContentId">
            <ul id="TestListId"></ul>
            <button id="addTestButton" onclick="showAddTestView()">add test</button>
        </div>
    </div>



    <div class="contentPane">

        <div id="includedContent"></div>

    </div>

</div>

</body>
</html>