<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <link href="css/view-and-edit-candidate.css" rel="stylesheet">
    <title>Przypisz testy</title>
    <script src="js/vendor/jquery-3.1.0.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>
    <script src="js/poolConfig.js"></script>
    <script src="js/cognito-auth.js"></script>
    <script src="js/vendor/aws-sdk-cognito-service-provider.js"></script>
    <script src="js/mark-test.js"></script>
    <script src="js/cognito-utils.js"></script>
</head>

<body onload="simulate()">

<form>
    <div class="container">
        <h1 align="center" id="test-header"></h1>

        <hr id="answers-hr"/>

        <button class="save-marks-button" onclick="handleSaveMarksButton()" type="button">Zapisz ocenę</button>
    </div>
</form>
</body>
</html>