<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stwórz nowy test</title>
    <link rel="stylesheet"
          type="text/css"
          href="css/test-details.css"/>
    <script src="js/test-details.js"></script>
    <script src="js/jquery-3.4.1.js"></script>
    <script src="js/vendor/aws-cognito-sdk.min.js"></script>
    <script src="js/vendor/amazon-cognito-identity.min.js"></script>

</head>
<body>

<form>
    <div class="container">
        <h1>Nazwa testu:</h1>
        <label>
            <input id="testNameInput" type="text"/>
        </label>
        <hr id="question_hr">
        </hr>

        <button type="button" class="add_question_button" onclick="addNewClosedQuestion()">Dodaj pytanie zamknięte</button>
        <button type="button" class="add_question_button" onclick="addNewOpenQuestion()">Dodaj pytanie otwarte</button>
        <button class="add_test_button" onclick="handleAddTestButton()" type="button">Dodaj test</button>
    </div>
</form>
</body>
</html>